<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/StyleSheet.css" />
</head>
<body>
    <div class="navbar">
        <div class="navbar-brand">Weather Navbar</div>
        <ul>
            <li><a href="~/">Sample 1</a></li>
            <li><a href="~/">Sample 2</a></li>
            <li><a href="~/">Sample 3</a></li>
            <li><a href="~/">Sample 4</a></li>
        </ul>
        
    </div>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
